<div class="todoAdd">
  <app-todo-add [isAddWidget]="true" [inProgress]="isInProgess" (addWidgetEvent)="getWidgets()"></app-todo-add>
</div>
<div class="widgets">
  <div id="{{widget.id}}" class="todoWidget" *ngFor="let widget of todoViewModel">
    <div class="widgetTitle">
      <h5>{{widget.title}}</h5>
      <button (click)="onDelete(widget)">Delete</button>
    </div>
    <div class="todoAddInWidget">
      <app-todo-add [inProgress]="isInProgess" [isAddWidget]="false" (addTaskEvent)="getWidgets()" [todoId]="widget.id"></app-todo-add>
    </div>
    <div *ngFor="let task of filteredTasks(widget.id)"> <!-- gets the tasks per widget -->
      <app-todo-item class="todoAddWidget" [task]="task" (deleteTaskEvent)="getWidgets()"></app-todo-item>
    </div>
  </div>
</div>

