<div class="todoAdd">
  <app-todo-add [isAddWidget]="true" (addWidgetEvent)="getWidgets()"></app-todo-add>
</div>
<div class="widgets">
  <div id="{{widget.id}}" class="todoWidget" *ngFor="let widget of todoWidgets">
    <div class="widgetTitle">
      <h5>{{widget.title}}</h5>
      <button (click)="onDelete(widget)">Delete</button>
    </div>
    <div class="todoAddInWidget">
      <app-todo-add [isAddWidget]="false" (addTaskEvent)="getWidgets()" [todoId]="widget.id"></app-todo-add>
    </div>
    <div *ngFor="let task of widget.tasks?.reverse()">
      <app-todo-item class="todoAddWidget" [taskTitle]="task.title"></app-todo-item>
    </div>

  </div>

</div>
