<div class="addTodoWidget">
  <form>
    <div *ngIf="isAddWidget then buttonAddWidget; else buttonAddTodoToWidget"></div>
    <ng-template #buttonAddWidget>
      <input #titleTodo type="text" (keydown.enter)="addWidget(titleTodo, $event)">
      <button type="button" name="buttonAddWidget" (click)="addWidget(titleTodo, $event)">+ Erstellen</button>
    </ng-template>
    <ng-template class="addInWidget" #buttonAddTodoToWidget>
      <input #titleTask type="text" (keydown.enter)="addTask(titleTask, $event)">
      <button type="button" name="buttonAddTodoToWidget" (click)="addTask(titleTask, $event)">+</button>
    </ng-template>
  </form>

</div>
